.card-logement {
    position: relative;
    display: flex;
    width: 335px;
    height: 255px;

    min-width: 335px;
    transition: transform 1s;

    

    & img {
        display: flex;
        width: 100%;
      border-radius: 15px;
        object-fit: cover;
    }

    &__layer {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
      
    }

    &__title {
        display: flex;
        align-items: flex-end;
        position: absolute;
        font-family: Montserrat;
        color: #f1f1f1;
        margin-left: 22px;
        top: 78.82%;
        bottom: 5.88%;
    }
}

.cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    
    margin: 22px 0;
    flex-wrap: wrap;

   
        gap: 50px;
        padding: 5% 1%;
        background-color: #f7f7f7;
      
        margin: 43px 0;
    
}

.link_card_logement {
    text-decoration: none;
}