.collapse {
  margin: 20px 0;

  font-family: Montserrat;
  color: #ffffff;
  border-radius: 5px;

  &__visible {
    cursor: pointer;
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 6px 15px;

    border-radius: 5px;
  }

  &__toggle {
    opacity: 0;
    background-color: #f7f7f7;
    border-radius: 5px;
    transition:
      opacity 0s ease-in,
      height 0.2s ease-in;
    color: #ff6060;
    p {
      margin: 0;
      height: 100%;
      padding: 6px 15px;
      pointer-events: none;
    }
  }
}

.animated {
  opacity: 1;
  padding-bottom: 41px;
  transition:
    height 0.2s ease-in,
    opacity 0.2s ease-in;
}

.chevron {
  width: 24px;
  transform: rotate(0deg);
  transition: 0.2s 0.2s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
  transition: 0.2s ease-in-out;
}

.about-style {
  width: 85%;

  @media screen and (min-width: 1440px) {
    width: 1023px;
  }
}

.collapse-fiche-container {
  width: 100%;
}

.equipList {
  list-style-type: none;
  margin-top: 0%;
}
