#carrousel-container {
  
  padding: 50px 0px 0px 0px;

  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 5%;
  .arrow {
    position: absolute;
    

    margin-top: 11%;
    width: 60px;
    height: 93px;
  }
  .leftArrow {
    margin-left: -33%;
  }
  .rightArrow {
    margin-left: 29.5%;
  }
  img {
   
    object-fit: cover;
    height: 415px;
    border-radius: 25px;
    width: 85%;
    mix-blend-mode: normal;
  }
  
  .slider {
   
    opacity: 0;
    transition: opacity ease-in-out 0.6s;
  }
  .active-anim {
    opacity: 1;  
  }
}
.slider__number{
  display: flex;
  color: white;
    position: absolute;
    margin-top: -3%;
    margin-left:39%;
    font-size: 54;
  }
.title-container {
  margin-top: 30px;
}
