#carrousel-container {
  padding: 50px 0px 0px 0px;

  width: 90%;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  max-width: 1240px;
  margin-bottom: 5%;
  .arrows {
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 80%;
  padding-left: 5px;
    justify-content: space-between;
    margin-top: 158px;
max-width: 1179px;
    .arrow {
      width: 60px;
      height: 93px;

      
    }
    .leftArrow {
      margin-left: 5%;
    }
   
  }
  img {
    object-fit: cover;
    height: 415px;
    border-radius: 25px;
    width: 100%;
    mix-blend-mode: normal;
    
  }

  .slider {
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
  }
  .active-anim {
    opacity: 1;
  }
}
.slider__number {
  display: flex;
  color: white;
  position: absolute;
  margin-top: -46px;
  left: 50%;
  font-size: 54;
  @media screen and (max-width: 375px) {
    margin-top: -8%;
  }
}
.title-container {
  margin-top: 30px;
  @media screen and (max-width: 375px) {
    width: 335px;
    margin-top: 9%;
    h1 {
      display: flex;

      font-size: 18px;
    }
  }
}
