#carrousel-container {
  padding: 50px 0px 0px 0px;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 5%;
  .arrows {
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: row;
    width: 100%;

    justify-content: space-between;
    @media screen and (max-width: 375px) {
    }
    @media screen and (min-width: 1440px) {
      width: 1240px;
    }

    .arrow {
      margin-top: 14%;
      width: 60px;
      height: 93px;
      @media screen and (max-width: 375px) {
        margin-top: 31%;
        width: 24px;
        height: 24px;
      }
    }
    .leftArrow {
      margin-left: 4%;
      @media screen and (max-width: 375px) {
        margin-left: 3%;
      }
    }
    .rightArrow {
      margin-right: 4%;
      @media screen and (max-width: 375px) {
        margin-right: 10%;
      }
    }
  }
  img {
    object-fit: cover;
    height: 415px;
    border-radius: 25px;
    width: 100%;
    mix-blend-mode: normal;
    @media screen and (max-width: 375px) {
      width: 335px;
      height: 255px;
    }
  }

  .slider {
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
  }
  .active-anim {
    opacity: 1;
  }
}
.slider__number {
  display: flex;
  color: white;
  position: absolute;
  margin-top: -3%;
  margin-left: 43%;
  font-size: 54;
  @media screen and (max-width: 375px) {
    margin-top: -8%;
  }
}
.title-container {
  margin-top: 30px;
  @media screen and (max-width: 375px) {
    width: 335px;
    margin-top: 9%;
    h1 {
      display: flex;

      font-size: 18px;
    }
  }
}
