.Banner-Home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 86%;
  margin-bottom: 50px;
}
.Text-Banner {
  position: absolute;
  color: white;
  font-family: Montserrat;
  font-size: 48px;
}
