Header {
  display: flex;
  justify-content: space-between;
  width: 89%;
  margin-top: 50px;
  align-items: center;
  @media screen and (min-width: 1440px) {
    width: 1240px;
  }
  @media screen and (max-width: 375px) {
    width: 335px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  img{
    @media screen and (max-width: 375px) {
      width: 145px;
    }
  }
  a {
    padding: 15px;
    padding-bottom: 0px;
    color: #ff6060;
    font-family: Montserrat;
    text-decoration: none;
    font-size: 18px;
    @media screen and (max-width: 375px) {
      font-size: 12px;
    }
    &:hover {
      border: 1px solid;
      border-left: none;
      border-top: none;
      border-right: none;
    }
  }
}
