Header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 50px;
  align-items: center;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 0px;
 
  }
  img {
    @media screen and (max-width: 768px) {
      width: 145px;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content:end;
    width: 200px;
    @media screen and (max-width: 768px) {
     
    }
  }
  a {
    display: flex;

    padding: 5px;
    padding-bottom: 0px;
    color: #ff6060;
    font-family: Montserrat;
    text-decoration: none;
    font-size: 18px;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
    &:hover {
      border: 1px solid;
      border-left: none;
      border-top: none;
      border-right: none;
    }
  }
}
