@import "../utils/Variables";


.Header {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    font-family: $font-text;

    @media (max-width: $bp-sm) {
        justify-content: center;
        margin: auto;
    }

    .Logo {
        background-image: url(../../images/LOGO.jpg);
        width: 31%;
        height: 68px;
        background-size: contain;
        background-repeat: no-repeat;
        border: 2px solid white;
    }

    .link-propos {
        display: flex;
        flex-direction: column-reverse;
    }





    .Links-Header {
        display: flex;
        justify-content: space-between;
        margin-right: 2%;

        @media (max-width: $bp-sm) {
            width: 174px;
            justify-content: space-between;
            margin-right: 0;
            margin-left: 4%;
        }

        .link-container {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            margin-left: 50px;
            justify-content: center;

            @media (max-width: $bp-sm) {
                margin-left: 0%;
            }


            .div-Orange {
                position: absolute;
                display: none;
                width: 80px;
                height: 12px;

                
            }






            #propos {
                margin-right: -6px;
                width: 100px;
            }



            a {
                display: flex;
                cursor: pointer;
                width: 64px;
                margin-left: 15%;
                margin-right: 0%;
                justify-content: space-around;
                text-decoration: none;
                color: $color-primary ;

                @media (max-width: $bp-sm) {
                    text-transform: uppercase;
                    margin-left: 0%;
                    width: 83px;
                    justify-content: space-between;

                }
            }:hover {
               
                    display: flex;

                    color: $color-primary;

                    border: 1px solid;
                    border-top: none;
                    border-left: none;
                    border-right: none;

            }


            

        }
    }
}